body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* common */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.title-color{
    color: #131313;
}
.des-color{
    color: #727272;
}
.color-2{
    color:#FF900E;
}
.nav-title,
.experience-information-title,.facts-title,
.sponson-section-title {
    font-size: 45px;
    font-weight: 700;
}

.header,
footer {
    background: rgba(255, 144, 14, 0.10);
}
/*header style  */

.header-content {
    text-align: center;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    width: 30%;
}
.nav-item ul{
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}
.nav-item ul li{
    list-style: none;
}
.nav-item ul a{
    text-decoration: none;
    color: #424242;
}

.header-title{
    margin-top: 102px;
    font-size: 64px;
    margin-bottom: 5px;
}
.header-description{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 32px
}
.primary-button{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;
}
.banner{
    max-width: 1440px;
    padding-bottom: 45px;
}
.banner img{
    width: 100%;
}

/* main section style */
main{
    margin-top: 45px;
}

/* feactures section style */
.feature-section-container{
    display: flex;
    align-items: center;
    width: 90%;
    gap: 70px;
    margin: 0 auto;
    
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.f-des-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;

}
.feature-information > .des-color{
    margin-bottom: 32px;
}

/* experience section style */
.features-you-can-experience-container{
    margin-top: 130px;
    display: flex;
    gap: 145px;
}
.experience-information-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.experience-information > .des-color{
    margin-top: 0;
    margin-bottom: 30px;
}
.items{
    padding: 30px 42px 30px 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.item-title{
    margin-bottom: 10px;
    color: #131313;
    font-size: 20px;
    font-weight: 600;
}
.items > .des-color{
    margin-top: 0;
}
.experience-banner > .primary-button{

}
.experience-banner-button-span-one{
    font-size: 65px;
    font-weight: 700;
}
.experience-banner-button-span-two{
    display: block;
    font-size: 25px;
    font-weight: 500;
}
.experience-banner{
    position: relative;
}
.secondary-button{
    position: absolute;
    left: -65px;
    bottom: -30px;
}

/* facts section styles */
.facts-section-container{
    margin-top: 130px;
}
.facts-title{
    margin-bottom: 24px;
}
.fact-des{
    margin-top: 0;
}

.facts-item{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.facts-item .item{
    text-align: center;
    padding: 45px;
    border: 1px solid #FF900E;
    background: #fff;
    border-radius: 5px;
    transition: transform 0.6s;
}
.facts-item .item-title{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin: 10px;
    margin-bottom: 0;
}
.facts-item .item-des{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin: 0;
}

.facts-item .item:hover{
    transform: rotate(90deg);
}

/* sponsor section style */
.sponsor-section{
    text-align: center;
    margin-top: 170px;
}
.sponson-section-title{
    margin-bottom: 5px;
}
.sponsor-section > .des-color{
    margin-top: 0;
}
.sponsors{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    filter: grayscale(100%);
    align-items: center;
    margin-bottom: 130px;
}

/* footer section styles */
#footer{
    padding: 30px 0;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 100px;
}
footer > .des-color{
    font-size: 20px;
}










/* responsive */
@media  screen and (max-width:576px) {
    /* common  */
    nav,
    .features-you-can-experience-container,
    .facts-item {
            flex-direction: column;
        }

    .header-content,.banner{
        width: 100%;
    }
    .banner img{
        width: 90%;
    }

    nav{
        flex-direction: column;
    }
    .nav-item{
        width: 100%;
    }
    .header-title{
        font-size: 45px;
    }

    /* features section responsive */
    .feature-section-container{
        flex-direction: column-reverse;
    }
    .feature-image{
        grid-template-columns: repeat(1,1fr);
    }

    /* experience section responsive */
    .features-you-can-experience-container{
        gap: 50px;
    }
    .experience-banner,.banner-image img{
        width: 100%;
    }
    .banner-image{
        width: 90%;
        margin: 0 auto;

    }
    .experience-banner-button-span-one{
        font-size: 35px;
    }
    .secondary-button{
        left: 50%;
        transform: translatex(-50%);
        background-color: #ff8f0ecb;
    }

    /* facts  */
    .facts-item{
        width: 90%;
        margin: 0 auto;
        gap: 10px;
        margin-top: 50px;
    }
    /* sponsors responsive */
    .sponsors{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,80px);
        align-items: center;
        gap: 5px;
    }
    .sponsors img{
        width: 140px;
    }
    .sponsor-section{
        margin-top: 80px;
    }
    #footer{
        margin: 50px 0;
    }
}